doctype html
html(lang="ja")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, minimum-scale=1, initial-scale=1, user-scalable=no")
    title laravel.osaka
    link(rel="icon" type="image/png" href="./img/favicon.ico")
    script(type='text/javascript')
    link(rel='stylesheet' href='./assets/css/index.css')
    link(rel="stylesheet" href="https://necolas.github.io/normalize.css/4.1.1/normalize.css")
    link(rel="stylesheet" href="http://fonts.googleapis.com/earlyaccess/notosansjapanese.css")
    meta(property="og:title", content="laravel.osaka 2016")
    meta(property="og:image", content="http://php-jp.github.io/laravel-osaka-2016/img/ogp.jpg")
    meta(property="og:description", content="１日まるごとLaravelのPHPエンジニア向けイベント。Laravel.osaka 2016 10月29日開催です。")
    meta(property="og:url", content="http://php-jp.github.io/laravel-osaka-2016/")
    meta(name="twitter:card", content="summary_large_image")
    meta(name="twitter:title", content="laravel.osaka 2016")
    meta(name="twitter:description", content="１日まるごとLaravelのPHPエンジニア向けイベント。Laravel.osaka 2016 10月29日開催です。")
    meta(name="twitter:image", content="http://php-jp.github.io/laravel-osaka-2016/img/ogp.jpg")
    script(src='https://use.fontawesome.com/28928d40e8.js')
  body
    .background

    //見出し
    .l-cover
      //ギザギザ専用のdiv（背景透明）
      .cover_borderBox
        //ギザギザの内側エリア（背景ピンク）
        .cv_borderBox_contentBox
          img(src="./img/logo.png").cv_bB_contentBox_laravelOsakaLogo
          ul.cv_bB_contentBox_infoBox
            li.cv_bB_cB_infoBox_dateInfo
              .cv_bB_cB_B_dateInfo_icon <i class="fa fa-calendar-check-o" aria-hidden="true"></i>
              p.cv_bB_cB_B_dateInfo_text 2016.10.29.sat
            li.cv_bB_cB_infoBox_placeInfo
              .cv_bB_cB_B_placeInfo_icon <i class="fa fa-map-marker" aria-hidden="true"></i>
              a(href="http://www.motex.co.jp/" target="_blank").cv_bB_cB_B_placeInfo_link MOTEX Inc.

          // 800px以下：display:none。.cover_borderBoxの中
          .linkBtnBox--recruitSpeakerSponsor--pc
            a.lBB_linkBtn--recruitSpeaker(href="http://goo.gl/forms/Sov0kYwiWbYNUvWR2" target="_blank")
              .linkBtn_innerBox
                .lB_innerBox_circleMark--left
                p.lB_innerBox_text 登壇者募集
                .lB_innerBox_circleMark--right
            a.lBB_linkBtn--recruitSponsor(href="http://goo.gl/forms/QAGiQUlDO26rYp173" target="_blank")
              .linkBtn_innerBox
                .lB_innerBox_circleMark--left
                p.lB_innerBox_text スポンサー募集
                .lB_innerBox_circleMark--right

      // 800px以下：display:block。.cover_borderBoxの外
      .linkBtnBox--recruitSpeakerSponsor--sp
        a.lBB_linkBtn--recruitSpeaker(href="http://goo.gl/forms/Sov0kYwiWbYNUvWR2" target="_blank")
          .linkBtn_innerBox
            .lB_innerBox_circleMark--left
            p.lB_innerBox_text 登壇者募集
            .lB_innerBox_circleMark--right
        a.lBB_linkBtn--recruitSponsor(href="http://goo.gl/forms/QAGiQUlDO26rYp173" target="_blank")
          .linkBtn_innerBox
            .lB_innerBox_circleMark--left
            p.lB_innerBox_text スポンサー募集
            .lB_innerBox_circleMark--right

    //laravel.osakaについて
    .l-aboutLaravelOsaka
      .contentHeadingMark--navy
      h2.contentHeading--navy Laravel Osaka 2016 とは
      p.laravelOsakaOverview
        | PHPアプリケーション開発の現場で人気の高いフレームワーク「Laravel」
        br
        | そんな「Laravel」をテーマに、1日 丸ごとLaravelのセッションイベントがスタートします。
        br
        |Laravelを日常の業務でバリバリ使ってる経験者も、
        br
        |これからLaravel/PHPをはじめようとする人も、きっと楽しめる充実のセッション内容!!
        br
        |「Laravelに興味があるけど難しい・・・」
        br
        |「フレームワークが初めてなんだけど・・・」
        br
        |という方も是非お気軽にご参加ください!!

    //セッション一覧
    .l-sessionIndex
      .contentHeadingMark--white
      h2.contentHeading--white Speakers
      ul.sessionBox
        each session in sessions
          li.sB_session
            //a(href="./session.html").sB_sessionLink
            a.sB_sessionLink
              .sB_session_speakerImgBox
                img.sB_session_sIB_speakerImg(src="./profile/#{session.photo}")
              h3.sB_session_title #{session.title}
              p.sB_session_speakerCompany #{session.at}
              p.sB_session_speakerName #{session.name}

      //.linkBtnBox--sessionDetailPage
      //  a.lBB_linkBtn--sessionDetailPage(href="./session.html")
      //    .linkBtn_innerBox
      //      .lB_innerBox_circleMark--left
      //      p.lB_innerBox_text 詳細を見る
      //      .lB_innerBox_circleMark--right

    //タイムテーブル
    .l-timeTable
      .contentHeadingMark--navy
      h2.contentHeading--navy タイムテーブル
      ul.timeTableSheet
        li.timeTableSheet_box
          .timeTableSheet_box_time 10:00
          .timeTableSheet_box_content--opening オープニング
        li.timeTableSheet_box
          .timeTableSheet_box_time 10:15
          .timeTableSheet_box_content--sessionA session A
        li.timeTableSheet_box
          .timeTableSheet_box_time 12:00
          .timeTableSheet_box_content--lunchTime 昼休み
        li.timeTableSheet_box
          .timeTableSheet_box_time 13:00
          .timeTableSheet_box_content--sessionB session B
        li.timeTableSheet_box
          .timeTableSheet_box_time 15:00
          .timeTableSheet_box_content--sessionC session C
        li.timeTableSheet_box
          .timeTableSheet_box_time 17:00
          .timeTableSheet_box_content--LT Lightning Talk
        li.timeTableSheet_box
          .timeTableSheet_box_time 18:00
          .timeTableSheet_box_content--closing クロージング
      p.timeTableAttention ※ 当日のタイムスケジュールは、企画および当日の諸事情により、予告なく変更となる場合があります。

      //ul
      //  each session in sessions
      //    li= session.title
      //p #{testdatas[0].name}

    //アクセス
    .l-access
      <iframe class="accessMap" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3279.043849285257!2d135.49718751539615!3d34.72928908042711!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x6000e43b1dbab3b1%3A0xbe6b3eaacbdb4771!2z44Ko44Og44Kq44O844OG44OD44Kv44K55paw5aSn6Ziq44OT44Or!5e0!3m2!1sja!2sjp!4v1474422578877" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
      .accessInfoBox
        .contentHeadingMark--white
        h2.contentHeading--white アクセス
        p.accessInfo_address 〒532-0011 大阪市淀川区西中島5-12-12
          br
          |エムオーテックス新大阪ビル

        p.accessInfo_station <i class="fa fa-subway" aria-hidden="true"></i>
          |JR新大阪駅
        p.accessInfo_requiredTime 正面口より徒歩約7分

        p.accessInfo_station <i class="fa fa-subway" aria-hidden="true"></i>
          |地下鉄御堂筋線新大阪駅
        p.accessInfo_requiredTime 7番出口より徒歩約5分

        p.accessInfo_station <i class="fa fa-subway" aria-hidden="true"></i>
          |地下鉄御堂筋線西中島南方駅
        p.accessInfo_requiredTime 1番出口より徒歩約5分

        .linkBtnBox--googleMap
          a.lBB_linkBtn--googleMap(href="https://goo.gl/maps/d6htXoQX1wB2" target="_blank")
            .linkBtn_innerBox
              .lB_innerBox_circleMark--left
              p.lB_innerBox_text Googlemapで開く
              .lB_innerBox_circleMark--right

    //スポンサー一覧
    .l-sponsor
        .contentHeadingMark--navy
        h2.contentHeading--navy スポンサー
        //ul.sponsorBox
        //    li.sponsorBox_sponsorLogo スポンサーロゴ
        //    li.sponsorBox_sponsorLogo スポンサーロゴ
        //    li.sponsorBox_sponsorLogo スポンサーロゴ
        //    li.sponsorBox_sponsorLogo スポンサーロゴ
        //    li.sponsorBox_sponsorLogo スポンサーロゴ
        //    li.sponsorBox_sponsorLogo スポンサーロゴ
        .linkBtnBox--recruitSponsor
          a.lBB_linkBtn--recruitSponsor(href="http://goo.gl/forms/QAGiQUlDO26rYp173" target="_blank")
            .linkBtn_innerBox
              .lB_innerBox_circleMark--left
              p.lB_innerBox_text スポンサー募集
              .lB_innerBox_circleMark--right

    //共通フッター
    include ./_footer
    include ./_ga.html
