doctype html
html(lang="ja")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, minimum-scale=1, initial-scale=1, user-scalable=no")
        title laravel.osaka
        link(rel="icon" type="image/png" href="./img/favicon.ico")
        script(type='text/javascript')
        link(rel='stylesheet' href='./assets/css/session.css')
        link(rel="stylesheet" href="https://necolas.github.io/normalize.css/4.1.1/normalize.css")
        link(rel="stylesheet" href="http://fonts.googleapis.com/earlyaccess/notosansjapanese.css")
        meta(property="og:title", content="laravel.osaka 2016")
        meta(property="og:image", content="http://php-jp.github.io/laravel-osaka-2016/img/ogp.jpg")
        meta(property="og:description", content="１日まるごとLaravelのPHPエンジニア向けイベント。Laravel.osaka 2016 10月29日開催です。")
        meta(property="og:url", content="http://php-jp.github.io/laravel-osaka-2016/")
        meta(name="twitter:card", content="summary_large_image")
        meta(name="twitter:title", content="laravel.osaka 2016")
        meta(name="twitter:description", content="１日まるごとLaravelのPHPエンジニア向けイベント。Laravel.osaka 2016 10月29日開催です。")
        meta(name="twitter:image", content="http://php-jp.github.io/laravel-osaka-2016/img/ogp.jpg")
        script(src='https://use.fontawesome.com/28928d40e8.js')
    body
    .background
    //ヘッダー
    include ./_header

    //メインコンテンツエリア
    .l-pageArea--sessionDetail
        .contentHeadingMark--white
        h2.contentHeading--white セッション一覧

        each session in sessions
            if session.name
                section.sessionDetail
                    .sessionDetail_contentBox--topParts
                    .sessionDetail_boxForTitleBoxCentering
                        .sessionDetail_bFTBC_titleBox
                            .sD_bFTBC_titleBox_innerBox
                                h3.sD_bFTBC_tB_innerBox_title #{session.title}
                    .sessionDetail_contentBox
                        p.sD_contentBox_overview #{session.description}
                        .sD_contentBox_hr
                            <i class="sD_contentBox_hr_part fa fa-circle" aria-hidden="true"></i>
                            |<i class="sD_contentBox_hr_part fa fa-circle" aria-hidden="true"></i>
                            |<i class="sD_contentBox_hr_part fa fa-circle" aria-hidden="true"></i>
                        .sD_contentBox_speakerBox
                            .sD_cB_speakerBox_imageSns
                                .sD_cB_sB_imageSns_imageBox
                                    img.sD_cB_sB_iS_imageBox_image(src="./profile/#{session.photo}")
                                //ul.sD_cB_sB_imageSns_snsBox
                                    li.sD_cB_sB_iS_snsBox_sns
                                        a.sD_cB_sB_iS_snsBox_sns--twitter(href="") <i class="fa fa-twitter" aria-hidden="true"></i>
                                    li.sD_cB_sB_iS_snsBox_sns
                                        a.sD_cB_sB_iS_snsBox_sns--facebook(href="") <i class="fa fa-facebook" aria-hidden="true"></i>
                                    li.sD_cB_sB_iS_snsBox_sns
                                        a.sD_cB_sB_iS_snsBox_sns--link(href="") <i class="fa fa-link" aria-hidden="true"></i>
                            //.sD_cB_speakerBox_companyNameDescription
                            p.sD_cB_speakerBox_company #{session.at}
                            .sD_cB_speakerBox_nameLinkBox
                                p.sD_cB_speakerBox_name #{session.name}
                                a.sD_cB_speakerBox_link(href=session.link target="_blank") <i class="fa fa-link" aria-hidden="true"></i>
                            //p.sD_cB_speakerBox_kana #{session.kana}
                            p.sD_cB_speakerBox_description #{session.bio}
            //section.sessionDetail
            //    .sessionDetail_contentBox--topParts
            //    .sessionDetail_boxForTitleBoxCentering
            //        .sessionDetail_bFTBC_titleBox
            //            .sD_bFTBC_titleBox_innerBox
            //                h3.sD_bFTBC_tB_innerBox_title フロントエンドとコンテンツ配信のミライ ー Webはどう変わるか ーフロントエンドとコンテンツ配信のミライ ー Webはどう変わるか ー
            //    .sessionDetail_contentBox
            //        p.sD_contentBox_overview 変化の激しいWebの世界で、Webの表現力、可能性は大きく広がり続けています。
            //            |CMSの界隈でもAPI対応やクラウド対応など、新しいWebの流れに対応しようとする動きが見られます。
            //            |記事を管理し、配信するだったCMSから、一歩新しいWebのミライへ。
            //            |アプリ化,SEO,クラウド対応など多様化する顧客要求を予測するヒントとして、
            //            |フロントエンド技術の変遷から見えるミライのWebの姿を考えてみましょう。
            //        .sD_contentBox_hr
            //            <i class="sD_contentBox_hr_part fa fa-circle" aria-hidden="true"></i>
            //            |<i class="sD_contentBox_hr_part fa fa-circle" aria-hidden="true"></i>
            //            |<i class="sD_contentBox_hr_part fa fa-circle" aria-hidden="true"></i>
            //        .sD_contentBox_speakerBox
            //            .sD_cB_speakerBox_imageSns
            //                .sD_cB_sB_imageSns_imageBox
            //                    img.sD_cB_sB_iS_imageBox_image(src="http://placehold.it/150x150")
            //                ul.sD_cB_sB_imageSns_snsBox
            //                    li.sD_cB_sB_iS_snsBox_sns
            //                        a.sD_cB_sB_iS_snsBox_sns--twitter(href="") <i class="fa fa-twitter" aria-hidden="true"></i>
            //                    li.sD_cB_sB_iS_snsBox_sns
            //                        a.sD_cB_sB_iS_snsBox_sns--facebook(href="") <i class="fa fa-facebook" aria-hidden="true"></i>
            //                    li.sD_cB_sB_iS_snsBox_sns
            //                        a.sD_cB_sB_iS_snsBox_sns--link(href="") <i class="fa fa-link" aria-hidden="true"></i>
            //            //.sD_cB_speakerBox_companyNameDescription
            //            p.sD_cB_speakerBox_company 株式会社chatbox 代表
            //            p.sD_cB_speakerBox_name 後藤 知宏
            //            p.sD_cB_speakerBox_kana Goto Tomohiro
            //            p.sD_cB_speakerBox_description 2015年に関西フロントエンドUGを立ち上げるなど関西のIT系コミュニティに積極的に参加。
            //                 |仕事面ではPHPやフロントエンドを中心にWeb全般の制作・技術顧問として活動中。
            //section.sessionDetail
            //    .sessionDetail_contentBox--topParts
            //    .sessionDetail_boxForTitleBoxCentering
            //        .sessionDetail_bFTBC_titleBox
            //            .sD_bFTBC_titleBox_innerBox
            //                h3.sD_bFTBC_tB_innerBox_title フロントエンドとコンテンツ配信のミライ ー Webはどう変わるか ーフロントエンドとコンテンツ配信のミライ ー Webはどう変わるか ー
            //    .sessionDetail_contentBox
            //        p.sD_contentBox_overview 変化の激しいWebの世界で、Webの表現力、可能性は大きく広がり続けています。
            //            |CMSの界隈でもAPI対応やクラウド対応など、新しいWebの流れに対応しようとする動きが見られます。
            //            |記事を管理し、配信するだったCMSから、一歩新しいWebのミライへ。
            //            |アプリ化,SEO,クラウド対応など多様化する顧客要求を予測するヒントとして、
            //            |フロントエンド技術の変遷から見えるミライのWebの姿を考えてみましょう。
            //        .sD_contentBox_hr
            //            <i class="sD_contentBox_hr_part fa fa-circle" aria-hidden="true"></i>
            //            |<i class="sD_contentBox_hr_part fa fa-circle" aria-hidden="true"></i>
            //            |<i class="sD_contentBox_hr_part fa fa-circle" aria-hidden="true"></i>
            //        .sD_contentBox_speakerBox
            //            .sD_cB_speakerBox_imageSns
            //                .sD_cB_sB_imageSns_imageBox
            //                    img.sD_cB_sB_iS_imageBox_image(src="http://placehold.it/150x150")
            //                ul.sD_cB_sB_imageSns_snsBox
            //                    li.sD_cB_sB_iS_snsBox_sns
            //                        a.sD_cB_sB_iS_snsBox_sns--twitter(href="") <i class="fa fa-twitter" aria-hidden="true"></i>
            //                    li.sD_cB_sB_iS_snsBox_sns
            //                        a.sD_cB_sB_iS_snsBox_sns--facebook(href="") <i class="fa fa-facebook" aria-hidden="true"></i>
            //                    li.sD_cB_sB_iS_snsBox_sns
            //                        a.sD_cB_sB_iS_snsBox_sns--link(href="") <i class="fa fa-link" aria-hidden="true"></i>
            //            //.sD_cB_speakerBox_companyNameDescription
            //            p.sD_cB_speakerBox_company 株式会社chatbox 代表
            //            p.sD_cB_speakerBox_name 後藤 知宏
            //            p.sD_cB_speakerBox_kana Goto Tomohiro
            //            p.sD_cB_speakerBox_description 2015年に関西フロントエンドUGを立ち上げるなど関西のIT系コミュニティに積極的に参加。
            //                 |仕事面ではPHPやフロントエンドを中心にWeb全般の制作・技術顧問として活動中。

        .linkBtnBox--topPage
            a.lBB_linkBtn--topPage(href="./index.html")
                .linkBtn_innerBox
                    .lB_innerBox_circleMark--left
                    p.lB_innerBox_text TOPに戻る
                    .lB_innerBox_circleMark--right

    //共通フッター
    include ./_footer
    include ./_ga.html
